@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Bangers&family=Gruppo&family=Varela&display=swap');
* {
    margin: 0;
    padding: 0;
}

html, body {
    background: gold;
    background: linear-gradient(0deg, rgba(255,215,0,0.4), rgba(255,215,0,0.4)), url(bee.jpg);
    background-size: cover;
    background-position: bottom right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    overflow: hidden;
    font-family: 'Kaushan Script', cursive;
}

nav {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
}

.burger {
    width: 4rem;
    height: 4rem;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.burger:hover {
    transform: rotateZ(180deg);
}

.burger div {
    width: 2.5rem;
    height: 0.3rem;
    background: white;
    border-radius: 0.3rem;
    margin: 0.2rem 0;
}

main {
    width: 100%;
    height: 100%;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4rem;
    margin: 1rem auto;
}

p {
    font-size: 2rem;
    width: 45rem;
    text-align: center;
}

.side-bar {
    background: rgba(0,0,0,0.9);
    width: 28.2rem;
    height: 100%;
    transform: translateX(100%);
    position: absolute;
    top: 0;
    right: 0;
}

.side-bar .exit {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 3rem;
    left: 1.5rem;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.side-bar .exit div {
    width: 2.5rem;
    height: 0.3rem;
    background: white;
    border-radius: 0.3rem;
}

.side-bar .exit div:nth-of-type(1) {
    transform: rotateZ(135deg) translate(0.2rem, -0.2rem);
}

.side-bar .exit div:nth-of-type(2) {
    transform: rotateZ(-135deg);
}

.side-bar ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.side-bar a {
    font-size: 1.5rem;
    color: gold;
    text-decoration: none;
}

.side-bar a:hover {
    color: goldenrod;
}

#learn {
    border: 2px solid white;
    border-radius: 2rem;
    background: rgba(0,0,0,0);
    width: 10rem;
    height: 4rem;
    margin: 2rem 0;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;

}

@media (max-width: 800px) {
    p {
        width: 35rem;
    }
}

@media (max-width: 576px) {
    p {
        width: 25rem;
    }
}
